<!-- app.component.html -->

<div class="main">
    <!-- NAVBAR START -->
    <div class="header_container">
        <nav class="navbar bg-primary shadow-sm">
            <div class="d-flex flew-row">
                <img src="assets/images/logo1.png" class="ms-2 logoImg" width="50" height="50" alt="Logo" />
                <h3 class="text-light my-2 ms-2 headerTitle">Correlation Calculator</h3>
            </div>
        </nav>
    </div>
    <!-- NAVBAR END -->

    <!-- MAIN CONTAINER START -->
    <div class="mainSection container">
        <!-- Use (fileUploaded) event from InputComponent to update fileData in AppComponent -->
        <!-- <app-input (fileUploaded)="onFileUploaded($event)"></app-input> -->
        <!-- <app-input (calculateClicked)="onCalculateClicked($event)"></app-input> -->
        <app-input></app-input>

        <app-display></app-display>
        <!-- Pass xValues_app and yValues_app to corr-logic component -->
        <app-corr-logic></app-corr-logic>
    </div>
    <!-- MAIN CONTAINER END -->

    <!-- FOOTER START -->

    <!-- FOOTER END -->
</div>